/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome-sprockets";
@import "font-awesome";

 $white_opaque: rgba(250, 250, 250, .3);
 

* {
	box-sizing: border-box;
}
html {
  height: 100%;
}

body {
 	height: 100%;
  background: -webkit-linear-gradient(40deg, #F7EBEC 10%, #F7EBEC 100%);
  background:    -moz-linear-gradient(40deg, #DDBDD5 10%, #F7EBEC 100%);
  background:     -ms-linear-gradient(40deg, #AC9FBB 10%, #F7EBEC 100%);
  background:      -o-linear-gradient(40deg, #AC9FBB 10%, #F7EBEC 100%);
  background:         linear-gradient(40deg, #AC9FBB 10%, #F7EBEC 100%);
  font-family: 'Lato', sans-serif;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

#notice {
	text-align: center;
	font-size: 26px;
	color: black;
	font-weight: 500px;
	// border: 1px solid $white_opaque;
	// padding: .5em 1em;
	// border-radius: 5px;
	// display: block;
	// margin: 1em 25%;
}

.container {
	width: 50%;
	max-width: 750px;
	background: $white_opaque;
	margin: 3em auto 0 auto;
	border-radius: 7px;
	-webkit-box-shadow: 0 0 4px 3px rgba(0,0,0,.3);
	box-shadow: 0 0 4px 4px rgba(0,0,0,.03);
	padding: 1em 0;
}



.todo_list_title {
	text-align: center;
	font-weight: 700;
	font-size: 2.5rem;
	text-transform: uppercase;
	color: white;
	margin: 0;
	margin-top: 20px;
	a {
		text-decoration: none;
		color: white;
		transition: all .4s ease-in-out;
		&:hover {
			opacity: 0.4;
			cursor: pointer;
		}
	}
}

.todo_list_sub_title {
	margin: 0 0 3em 0;
	text-align: center;
	font-size: 0.9em;
	
	font-weight: 100;
}

.index_row {
	padding: 2em;
	border-bottom: 1px solid rgba(250,250,250, .3);
	.todo_list_sub_title {
		margin-bottom: 0;
	}
}

#todo_items_wrapper {
	.row {
		width: 100%;
		border-top: 1px solid rgba(250,250,250, .3);
		border-bottom: 1px solid rgba(250,250,250, .3);
		.complete {
			width: 10%;
			float: left;
			text-align: center;
			border-right: 1px solid rgba(250,250,250, .3);
			padding: 1em 0;
		}
		.todo_item {
			width: 80%;
			float: left;
			p {
				margin: 0;
				padding: 1em;
				color: black;
				font-weight: 100;
			}
		}
		.trash {
			width: 10%;
			float: left;
			text-align: center;
			border-left: 1px solid rgba(250,250,250, .3);
			padding: 1em 0;
		}
		i {
			color: white;
			transition: all .4s ease-in-out;
			&:hover {
				color: black;
			}
		}
	}
	#form {
		margin-top: 2em;
		padding: 0 5%;
		input[type="text"] {
			width: 72%;
			margin-right: 2%;
			display: inline-block;
			outline: none;
			background: rgba(250,250,250,.4);
			border: none;
			height: 40px;
			border-radius: 4px;
			padding: 1em 2em;
		}
		input[type="submit"] {
			background: rgba(250,250,250,.4);
			outline: none;
			border: none;
			height: 40px;
			border-radius: 4px;
			width: 25%;
			display: inline-block;
			transition: all .4s ease-in-out;
			cursor: pointer;
			&:hover {
				background: black;
			}
		}
		::-webkit-input-placeholder { color: black; }
	}
}

.links {
	display: block;
	margin: 1.5em auto 0 auto;
	text-align: center;
	font-size: 0.8em;
	color: white;
	a {
		color: white;
	}
}

.forms {
	padding: 0 5%;
}
label {
	color: black;
}
input[type="text"], textarea {
	width: 100%;
	margin: .5em 2% 1em 0;
	display: inline-block;
	outline: none;
	background: rgba(250,250,250,.4);
	border: none;
	height: 40px;
	border-radius: 4px;
	padding: 1em 2em;
}
textarea {
	height: 200px;
}
input[type="submit"] {
	background: white;
	outline: none;
	border: none;
	height: 40px;
	border-radius: 4px;
	width: 25%;
	display: inline-block;
	transition: all .4s ease-in-out;
	cursor: pointer;
	color: black;
	&:hover {
		background: black;
		color: white;
	}
}

h2 {
	text-align: center;
	font-weight: 700;
	font-size: 2.5rem;
	text-transform: uppercase;
	color: white;
	margin: 0;
	margin-top: 20px;
}


.login-field {
	text-align: center;
    margin: 10px;
	font-size: 20px;	
}

#username {
	// display: block;
	// background-color: green;
	// margin: auto;
	// padding: -20px;
	// font-size: 2px;
	text-align: center;
	height: 50px;
	padding: 0px;
	background-color: white;
	border-style: solid;
	border-width: thin;
	
}

.login-label {
	text-align: center;
	margin-top: 30px;
	font-size: 20px;
	
}

.login-actions {
	text-align: center;
	align-items: center;
}

.shared-links {
	text-align: center;
	text-decoration: none;
	margin: 10px;
	margin-top: 30px;
	a {
		color: white;
		text-decoration: none;
		transition: all .4s ease-in-out;
		&:hover {
			background: black;
			color: white;
		}
	}
	
}

.nav-menu {
    list-style-type: none;
    display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	
    font-size: 20px;
    text-decoration: none;
    margin: 5px;
	color: black;
	a {
		text-decoration: none;
		&:hover {
			background: black;
			color: white;
		}
	}
	
    
}

.one-link {
	display: inline-block;
	margin: 0;
	
}

::-webkit-input-placeholder { color: black; }
